<template>
  <form @submit.prevent="handleSubmit" class="form-horizontal">
    <hr>
    <div class="row mt-4 mb-4">
      <div class="col">
        <div class="form-group row">
          <label for="first_name" class="col-md-2 form-control-label">First Name</label>
          <div class="col-md-10">
            <input
              type="text"
              name="first_name"
              id="first_name"
              v-model="first_name"
              placeholder="First Name"
              autofocus="autofocus"
              v-bind:class="[errors.has('first_name') ? 'is-invalid' : '', 'form-control']"
              v-validate="'required'"
            >
            <div v-show="errors.has('first_name')" class="invalid-feedback">
              {{ errors.first('first_name') }}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="last_name" class="col-md-2 form-control-label">Last Name</label>
          <div class="col-md-10">
            <input
              type="text"
              name="last_name"
              id="last_name"
              v-model="last_name"
              placeholder="Last Name"
              autofocus="autofocus"
              v-bind:class="[errors.has('last_name') ? 'is-invalid' : '', 'form-control']"
              v-validate="'required'"
            >
            <div v-show="errors.has('last_name')" class="invalid-feedback">
              {{ errors.first('last_name') }}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-md-2 form-control-label">Email</label>
          <div class="col-md-10">
            <input
              type="email"
              name="email"
              id="email"
              v-model="email"
              placeholder="Email"
              autofocus="autofocus"
              v-bind:class="[errors.has('email') ? 'is-invalid' : '', 'form-control']"
              v-validate="'required'"
            >
            <div v-show="errors.has('email')" class="invalid-feedback">
              {{ errors.first('email') }}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label
            for="organization_id"
            class="col-md-2 form-control-label"
          >
            Organization
          </label>
          <div class="col-md-10">
            <v-select
              id="organization_id"
              v-model="organization"
              :options="organizationOptions"
              v-validate:organization="'required'"
              name="organization"
              v-bind:class="[errors.has('organization') ? 'is-invalid' : '']"
            />
            <div v-show="errors.has('organization')" class="invalid-feedback">
              {{ errors.first('organization') }}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="address_1" class="col-md-2 form-control-label">
            Address 1
          </label>
          <div class="col-md-10">
            <input
              type="text"
              name="address_1"
              id="address_1"
              v-model="address_1"
              placeholder="Address 1"
              v-validate="'required'"
              v-bind:class="[errors.has('address_1') ? 'is-invalid' : '', 'form-control']"
            >
            <div v-show="errors.has('address_1')" class="invalid-feedback">
              {{ errors.first('address_1') }}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="address_2" class="col-md-2 form-control-label">
            Address 2
          </label>
          <div class="col-md-10">
            <input
              type="text"
              name="address_2"
              id="address_2"
              v-model="address_2"
              placeholder="Address 2"
              class="form-control"
            ></div>
        </div>
        <div class="form-group row">
          <label for="city" class="col-md-2 form-control-label">City</label>
          <div class="col-md-10">
            <input
              type="text"
              name="city"
              id="city"
              v-model="city"
              placeholder="City"
              class="form-control"
              v-validate="'required'"
              v-bind:class="[errors.has('city') ? 'is-invalid' : '', 'form-control']"
            >
            <div v-show="errors.has('city')" class="invalid-feedback">
              {{ errors.first('city') }}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="state" class="col-md-2 form-control-label">State</label>
          <div class="col-md-10">
            <v-select
              id="state"
              v-model="state"
              placeholder="State"
              :options="stateOptions"
              v-validate:state="'required'"
              v-bind:class="[errors.has('state') ? 'is-invalid' : '']"
            />
            <div v-show="errors.has('state')" class="invalid-feedback">
              {{ errors.first('state') }}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="zip" class="col-md-2 form-control-label">Zip</label>
          <div class="col-md-10">
            <cleave
              id="zip"
              name="zip"
              v-model="zip"
              :options="{
                    numericOnly: true,
                    blocks: [5,4],
                  }"
              placeholder="Zip"
              v-validate="'required'"
              v-bind:class="[errors.has('zip') ? 'is-invalid' : '', 'form-control']"
            />
            <div v-show="errors.has('zip')" class="invalid-feedback">
              {{ errors.first('zip') }}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="phone" class="col-md-2 form-control-label">Phone</label>
          <div class="col-md-10">
            <cleave
              id="phone"
              name="phone"
              v-model="phone"
              placeholder="Phone"
              v-validate="'required'"
              v-bind:class="[errors.has('phone') ? 'is-invalid' : '', 'form-control']"
              :options="{
                    numericOnly: true,
                    blocks: [0, 3, 0, 3, 4],
                    delimiters: ['(', ')', ' ', '-'],
                  }"
            />
            <div v-show="errors.has('phone')" class="invalid-feedback">
              {{ errors.first('phone') }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col"><a href="/" class="btn btn-danger btn-sm">Cancel</a>
      </div>
      <div class="col text-right">
        <button type="submit" class="btn btn-success btn-sm pull-right" :disabled="errors.any()">{{ id ? 'Update' : 'Save'}}</button>
      </div>
    </div>
  </form>
</template>

<script>
  import _ from 'lodash';
  import axios from 'axios';
  import stateOptions from '../../utils/states.json';
  const dictionary = {
    en: {
      attributes: {
        email: 'email address',
        first_name: 'first name',
        last_name: 'last name',
        organization_id: 'organization',
        address_1: 'address',
        city: 'city',
        state: 'state',
        zip: 'zip',
        phone: 'phone',
      }
    },
  };

  export default {
    props: {
      profileFormData: {
        type: Object,
        default: function () {
          return {
            first_name: '',
            last_name: '',
            email: '',
            organization_id: '',
            address_1: '',
            address_2: '',
            city: '',
            state: '',
            zip: '',
            phone: '',
            id: null,
          };
        }
      },
      organizations: {
        type: Array,
        default: [],
      }
    },
    created: function () {
      this.$validator.localize(dictionary);
    },
    data: function () {
      return {
        ...this.profileFormData,
        organizationOptions: this.organizations,
        organization: this.organizations.find((org) => org.value === this.profileFormData.organization_id),
        stateOptions,
        state: stateOptions.find((state) => state.value === this.profileFormData.state),
      };
    },
    methods: {
      handleSubmit(e) {
        const data = {
          first_name: this.first_name,
          last_name: this.last_name,
          email: this.email,
          address_1: this.address_1,
          address_2: this.address_2,
          city: this.city,
          state: _.get(this.state, 'value', ''),
          zip: this.zip.trim(),
          phone: this.phone,
          organization_id: _.get(this.organization, 'value', null),
          _method: 'PATCH',
        };

        const url = `/profile/${this.id}`;

        e.preventDefault();
        this.$validator.validateAll().then((result) => {
          if (result) {
            axios.put(
              url,
              data
            ).then((r) => {
              window.location.href = '/';
            }).catch((error) => {
              alert('There was an error submitting the form');
            });
            return;
          }
        });
      },
    }
  }
</script>
<style>

</style>