<template>
  <form @submit.prevent="handleSubmit">
    <div class="row mb-4">
      <div class="col">
        <div v-for="(question, index) in questions" class="form-group text-center">
          <hr class="w-25 mt-4 mb-4 d-inline-block" />
          <div>
            <div class="text-center">
              <strong>Question #{{ question.question_number }}</strong>
            </div>
          <h3 class="text-center mt-2 mb-4">{{ question.question_text}}</h3>
          </div>
          <div class="mb-4" v-if="question.question_type === 'multiple_choice'">
            <div class="w-75 margin-center">
              <div class="row">
                <div class="col-sm-6 col-12 col-xl-3 text-left" v-for="(option, key) in question.question_options" >
                  <label class="radio-label row align-items-baseline">
                    <div class="col-auto">
                      <input
                        type="radio"
                        :name="`question_${question.question_number}`"
                        class="option-input radio"
                        :value="key"
                        v-model="question.selectedAnswer"
                        v-validate="key === 'option_0' ? 'required' : ''"
                      />
                    </div>
                    <div class="col">{{ option }}</div>
                  </label>
                </div>
                <div v-show="errors.has(`question_${question.question_number}`)" class="d-block invalid-feedback">
                  {{ errors.first(`question_${question.question_number}`) }}
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4" v-if="question.question_type === 'short_answer'">
            <div class="form-group">
              <input
                v-bind:class="[errors.has(`question_${question.question_number}`)
                  ? 'is-invalid' : '', 'form-control w-75 margin-center']"
                type="text"
                placeholder="Type your Answer"
                :name="`question_${question.question_number}`"
                v-model="question.selectedAnswer"
                v-validate="'required|max:65535'"
              >
              <div v-show="errors.has(`question_${question.question_number}`)" class="invalid-feedback">
                {{ errors.first(`question_${question.question_number}`) }}
              </div>
            </div>
          </div>
          <div class="mb-4" v-if="question.question_type === 'paragraph'">
            <div class="form-group">
              <textarea
                v-bind:class="[errors.has(`question_${question.question_number}`)
                  ? 'is-invalid' : '', 'd-block w-75 margin-center form-control']"
                :name="`question_${question.question_number}`"
                placeholder="Type your Answer"
                rows="5"
                v-model="question.selectedAnswer"
                v-validate="'required|max:65535'"
              ></textarea>
              <div v-show="errors.has(`question_${question.question_number}`)" class="invalid-feedback">
                {{ errors.first(`question_${question.question_number}`) }}
              </div>
            </div>
          </div>
          <div class="mb-4 text-center" v-if="question.question_type === 'true_false'">
            <label class="radio-label mr-2 clickable">
              <input
                type="radio"
                :name="`question_${question.question_number}`"
                class="option-input radio"
                value="1"
                v-model="question.selectedAnswer"
                v-validate="'required'"
              />
              True
            </label>
            <label class="radio-label ml-2 clickable">
              <input
                type="radio"
                :name="`question_${question.question_number}`"
                class="option-input radio"
                value="0"
                v-model="question.selectedAnswer"
              />
              False
            </label>
            <br>
            <div v-show="errors.has(`question_${question.question_number}`)" class="d-block invalid-feedback">
              {{ errors.first(`question_${question.question_number}`) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button type="submit" class="btn btn-success btn-lg btn-wide pull-right" :disabled="errors.any()">
          Submit
        </button>
      </div>
    </div>
  </form>
</template>

<script>
  import _ from 'lodash';
  import axios from 'axios';

  const dictionary = {
    en: {
      messages: {
        required: () => 'All questions must be answered.'
      },
      attributes: {
        email: 'email address',
        first_name: 'first name',
        last_name: 'last name',
        organization_id: 'organization',
        address_1: 'address',
        city: 'city',
        state: 'state',
        zip: 'zip',
        phone: 'phone',
      }
    },
  };

  export default {
    props: {
      surveyQuestions: {
        type: Array,
      },
      surveyId: {
        type: Number,
      }
    },
    created: function () {
      this.$validator.localize(dictionary);
    },
    data: function () {
      return {
        questions: this.surveyQuestions,
        id: this.surveyId,
      };
    },
    methods: {
      handleSubmit(e) {
        const responses = this.questions.map((question) => {
          let answer = '';
          if (question.question_type === 'multiple_choice') {
            const selectedAnswer = question.question_options[question.selectedAnswer];
            answer = `${question.selectedAnswer}: ${selectedAnswer}`;
          } else if (question.question_type === 'true_false') {
            answer = !!question.selectedAnswer ? 'True' : 'False';
          } else {
            answer = question.selectedAnswer;
          }

          return {
            survey_question_id: question.id,
            survey_id: question.survey_id,
            answer,
          }
        });

        const data = {
          responses,
          _method: 'PATCH',
        };

        const url = `/survey/${this.id}`;

        e.preventDefault();
        this.$validator.validateAll().then((result) => {
          if (result) {
            axios.put(
              url,
              data
            ).then((r) => {
              window.location.href = '/';
            }).catch((error) => {
              alert('There was an error submitting the form');
            });
            return;
          }
        });
      },
    }
  }
</script>
<style>

</style>