// Here you can add other styles
.box-highlight, .box-hover-highlight:hover {
  box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}

.clickable {
  cursor: pointer;
}

.input-plain {
  border: 0;
  border-bottom: 1px solid #eee;
  background-color: transparent !important;
}

.v-select {
  &.is-invalid {
    ~ .invalid-feedback,
    ~ .invalid-tooltip {
      display:block;
    }
    .dropdown-toggle {
      border-color:#f86c6b;
    }
  }
}

.move-cursor {
  cursor: move;
}

.delete-question {
  color: #000;
  opacity: 0.5;
  outline: none !important;
  &:hover {
    opacity: 1;
    color: #000;
    cursor: pointer;
  }
}

.delete-question-option {
  @extend .delete-question;
  position: absolute;
  right: 10px;
  top: 6px;
  display: none;
}
.box-highlight {
  .delete-question-option {
    display: block;
  }
}