<template>
    <div>
        <Container
          @drop="onDrop($event)"
          non-drag-area-selector=".field"
          drag-class="form-ghost"
          drop-class="form-ghost-drop"
          :class="{isActive: true}"
        >
            <Draggable
              v-bind:style="{overflow: 'inherit'}"
              v-for="(question, index) in questions"
              :key="question.key"
            >
                <div class="pb-2">
                    <QuestionForm
                      v-on:click.native="() => formClicked(index)"
                      :is-active="question.active"
                      v-model="questions[index].question_data"
                      :question-number="index + 1"
                      :delete-question="() => removeQuestion(index)"
                      :question-type="questionType"
                    />
                </div>
            </Draggable>
        </Container>
        <div class="row">
            <div class="col-auto ml-auto">
                <button type="button" v-on:click="addQuestion" class="btn btn-success mt-2">Add Question</button>
            </div>
        </div>
    </div>
</template>

<script>
  import { Container, Draggable } from "vue-smooth-dnd";
  import QuestionForm from './QuestionForm';

  export default {
    props: ['value', 'questionType'],
    components: {
      QuestionForm,
      Container, Draggable
    },
    watch: {
      questions: {
        handler: function (val, oldval) {
          this.$emit('input', this.questions);
        },
        deep: true,
      }
    },
    methods: {
      addQuestion: function () {
        this.questions.map((value) => {
          value.active = false;
          return value;
        });

        this.questions.push(
          {
            active: true,
            question_data: {
              question_text: '',
              question_type: '',
              question_options: {},
            }
          }
        );
      },
      removeQuestion: function(index) {
        this.questions.splice(index, 1);
      },
      formClicked: function (index) {
        this.questions.map((value, i) => {
          value.active = i === index;
          return value;
        });
      },
      onDrop: function(dragResult) {
        const arr = this.questions;
        const { removedIndex, addedIndex, payload } = dragResult;
        if (removedIndex === null && addedIndex === null) return;

        let result = [...arr];
        let itemToAdd = payload;

        if (removedIndex !== null) {
          itemToAdd = result.splice(removedIndex, 1)[0];
        }

        if (addedIndex !== null) {
          result.splice(addedIndex, 0, itemToAdd);
        }
        this.questions = result;
      },
    },
    data() {
      return {
        questions: (this.value && this.value.length > 0 ? this.value : [
          {
            active: true,
            question_data: {},
          }
        ]).map((v, i) => {
          const t = new Date().getTime();
          v.key = `${t}-${i}`;
          return v;
        })
      };
    }
  }
</script>
<style>
    .selected-tag {
        position: absolute;
    }
</style>