<template>
    <div v-bind:class="[isActive ? 'box-highlight' : '', 'move-cursor p-3']">
        <div class="pb-2">
            <strong>Question {{ questionNumber }}</strong>
            <a class="float-right clickable delete-question" v-on:click="deleteThisQuestion" tabindex="1">
                <i class="fa fa-trash"></i>
            </a>
        </div>
        <div class="row align-items-baseline">
            <div class="col-8">
                <div class="form-group">
                    <input
                      v-bind:class="[isActive ? '' : 'input-plain', 'form-control question-text field']"
                      type="text"
                      placeholder="Question"
                      v-model="question.question_text"
                    >
                </div>
            </div>
            <div class="col-4">
                <div v-if="isActive">
                    <v-select :options="selectOptions" label="title" v-model="type" placeholder="Question Type" class="field">
                        <template slot="option" slot-scope="option">
                            <font-awesome-icon :icon="option.icon"/>
                            {{ option.title }}
                        </template>
                    </v-select>
                </div>
                <div v-else>
                    <input class="input-plain form-control" type="text" :value="typeTitle">
                </div>
            </div>
        </div>
        <div v-if="selected_type === 'multiple_choice'">
            <div v-for="(option, index) in options" class="form-check pb-2">
                <input class="form-check-input field" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <input
                  v-bind:class="[isActive ? '' : 'input-plain', 'form-control field']"
                  type="text"
                  v-model="question.question_options[`option_${index}`]"
                  :placeholder="`Option ${index + 1}`">
                <a class="float-right clickable delete-question-option" v-on:click="deleteThisOption" :data-index="index">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
            <div class="form-check pb-2" v-if="isActive">
                <input class="form-check-input field" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" disabled>
                <a class="clickable field" v-on:click="addOption" tabindex="1">Add new option</a>
            </div>
        </div>
        <div v-if="selected_type === 'short_answer'">
            <div class="form-group">
                <input class="form-control input-plain" type="text" placeholder="Short Answer" disabled>
            </div>
        </div>
        <div v-if="selected_type === 'paragraph'">
            <div class="form-group">
                <input class="form-control input-plain" type="text" placeholder="Paragraph Answer" disabled>
            </div>
        </div>
        <div v-if="selected_type === 'true_false'">
            <div class="form-check pb-2">
                <input class="form-check-input field" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <input class="form-control input-plain" type="text" value="True" disabled>
            </div>
            <div class="form-check pb-2">
                <input class="form-check-input field" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <input class="form-control input-plain" type="text" value="False" disabled>
            </div>
        </div>
    </div>
</template>

<style>
    .question-text {
        font-size: 1.3em;
    }
</style>

<script>
  import Vue from 'vue';
  import axios from 'axios';

  const questionTypeOptions = [
    {
      title: 'Short Answer',
      icon: 'font',
      type: 'short_answer',
    },
    {
      title: 'Paragraph',
      icon: 'align-left',
      type: 'paragraph',
    },
    {
      title: 'Multiple Choice',
      icon: 'list-ul',
      type: 'multiple_choice',
    },
    {
      title: 'True/False',
      icon: ['far', 'dot-circle'],
      type: 'true_false',
    },
  ];

  export default {
    props: ['isActive', 'value', 'questionNumber', 'deleteQuestion', 'questionType'],
    methods: {
      addOption: function (e) {
        e.preventDefault();
        this.options.push({
          isCorrect: false,
          option: null,
        });
      },
      deleteThisQuestion: function (e) {
        e.preventDefault();
        if (!this.question.id) {
            this.$props.deleteQuestion();
            return;
        }
        const url = `/admin/question/${this.$props.questionType}/${this.question.id}`;
        axios.get(url).then(({ data }) => {
            const { hasQuestions } = data;
            let response = true;
            if (hasQuestions) {
                response = confirm('Are you sure you want to delete this question and all of it\'s responses?');
            }

            if (response) {
                axios.post(url).then(() => this.$props.deleteQuestion());
            }
        }).catch(() => alert('There was an error trying to delete the question.'));
      },
      deleteThisOption: function (e) {
        e.preventDefault();
        const { index } = e.currentTarget.dataset;
        if ( index ) {
            this.options.splice(index, 1);
        }
      },
    },
    computed: {
      typeTitle() {
        return  _.get(this.type, 'title', 'Question Type');
      },
    },
    watch: {
      'type': function (val, oldval) {
        this.selected_type = _.get(val, 'type');
        this.question.question_type = this.selected_type;
      },
      question: {
        handler: function (val, oldval) {
          this.$emit('input', this.question);
        },
        deep: true,
      }
    },
    data() {
      const { question_type, question_options } = this.value;

      return {
        type: question_type ? questionTypeOptions.find((qt) => qt.type === question_type) : null,
        question: Vue.util.extend({
          question_options: {},
        }, this.value,),
        selected_type: this.value ? this.value.question_type : '',
        selectOptions: questionTypeOptions,
        options: question_options ? Object.values(question_options) : [
          {
            isCorrect: false,
            option: null,
          }
        ]
      };
    }
  }
</script>
<style>
    .selected-tag {
        position:absolute;
    }
</style>