// Override the Bootstrap defaults without modifying key, versioned files.

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #314755;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #26a0da, #314755) fixed;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #26a0da, #314755) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.clickable {
  cursor: pointer;
}

.form-control, .v-select,
.v-select .dropdown-toggle {
  border-radius: 0;
  background: #fff;
  color: #495057;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.15);
}

.v-select .selected-tag {
  color: #495057 !important;
}

.margin-center {
  margin: 0 auto;
}


@keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -85px;
    margin-top: -85px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 7px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 0;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #26a0da;
}
.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
  color: #fff !important;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #26a0da;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

.radio-label {
  font-size: 1.4em;
}

.btn.module-button {
  white-space: initial;
}