<template>
  <form @submit.prevent="handleSubmit" class="form-horizontal">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="card-title mb-0">
              Module Management
              <small class="text-muted">{{ id ? 'Edit' : 'Create' }} Module</small>
            </h4>
          </div>
        </div>
        <hr>
        <div class="row mt-4 mb-4">
          <div class="col">
            <div class="form-group row">
              <label for="name" class="col-md-2 form-control-label">Name</label>
              <div class="col-md-10">
                <input
                  type="text"
                  name="name"
                  id="name"
                  v-model="name"
                  placeholder="Name"
                  autofocus="autofocus"
                  v-bind:class="[errors.has('name') ? 'is-invalid' : '', 'form-control']"
                  v-validate="'required'"
                />
                <div v-show="errors.has('name')" class="invalid-feedback">
                  {{ errors.first('name') }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-md-2 form-control-label">
                Description
              </label>
              <div class="col-md-10">
                <textarea
                  name="description"
                  id="description"
                  v-model="description"
                  placeholder="Description"
                  v-bind:class="[errors.has('description') ? 'is-invalid' : '', 'form-control']"
                  v-validate="'required'"
                ></textarea>
                <div v-show="errors.has('description')" class="invalid-feedback">
                  {{ errors.first('description') }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="instructor" class="col-md-2 form-control-label">
                Instructor
              </label>
              <div class="col-md-10">
                <input
                  type="text"
                  name="instructor"
                  id="instructor"
                  v-model="instructor"
                  placeholder="Instructor"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="video_url" class="col-md-2 form-control-label">Video Url</label>
              <div class="col-md-10">
                <input
                  type="text"
                  name="video_url"
                  id="video_url"
                  v-model="video_url"
                  placeholder="Video"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Pre-module Questions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Post-module Questions</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <questions v-model="preModuleQuestions" question-type="module" type="module"></questions>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <questions v-model="postModuleQuestions" question-type="module"></questions>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col"><a href="/admin/modules" class="btn btn-danger btn-sm">Cancel</a>
          </div>
          <div class="col text-right">
            <button type="submit" class="btn btn-success btn-sm pull-right" :disabled="errors.any()">{{ id ? 'Update' : 'Save'}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
  import axios from 'axios';
  import Questions from '../Questions';

  export default {
    components: {Questions},
    props: {
      moduleFormData: {
        type: Object,
        default: function () {
          return {
            name: '',
            description: '',
            instructor: '',
            video_url: '',
            id: null,
          };
        }
      },
    },
    data: function () {
      const { questions = {} } = this.moduleFormData;
      const { pre, post } = questions;

      return {
        ...this.moduleFormData,
        preModuleQuestions: pre && pre.length > 0 ? pre.map((question_data, i) => {
          question_data.question_options = _.isArray(question_data.question_options)
            ? {} : question_data.question_options;
          return {
            active: i == 0,
            question_data
          };
        }) : [],
        postModuleQuestions: post && post.length > 0 ? post.map((question_data, i) => {
          question_data.question_options = _.isArray(question_data.question_options)
            ? {} : question_data.question_options;
          return {
            active: i == 0,
            question_data
          };
        }) :[],
      };
    },
    methods: {
      handleSubmit(e) {
        const data = {
          name: this.name,
          description: this.description,
          instructor: this.instructor,
          video_url: this.video_url,
          questions: {
            pre: this.preModuleQuestions,
            post: this.postModuleQuestions,
          },
          _method: this.id ? 'PATCH' : 'POST',
        };

        const url = this.id ? `/admin/modules/${this.id}` : `/admin/modules`;

        e.preventDefault();
        this.$validator.validateAll().then((result) => {
          if (result) {
            axios.post(
              url,
              data
            ).then((r) => {
              window.location.href = '/admin/modules';
            }).catch((error) => {
              alert('There was an error submitting the form');
            });
            return;
          }
        });
      },
    }
  }
</script>
<style>

</style>