<template>
  <form @submit.prevent="handleSubmit" class="form-horizontal">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="card-title mb-0">
              Organization Management
              <small class="text-muted">{{ id ? 'Edit' : 'Create' }} Organization</small>
            </h4>
          </div>
        </div>
        <hr>
        <div class="row mt-4 mb-4">
          <div class="col">
            <div class="form-group row">
              <label for="name" class="col-md-2 form-control-label">Name</label>
              <div class="col-md-10">
                <input
                  type="text"
                  name="name"
                  id="name"
                  v-model="name"
                  placeholder="Name"
                  autofocus="autofocus"
                  v-bind:class="[errors.has('name') ? 'is-invalid' : '', 'form-control']"
                  v-validate="'required'"
                >
                <div v-show="errors.has('name')" class="invalid-feedback">
                  {{ errors.first('name') }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label
                for="type_id"
                class="col-md-2 form-control-label"
              >
                Type
              </label>
              <div class="col-md-10">
                <v-select
                  id="type_id"
                  v-model="type"
                  @search="onSearch"
                  :options="typeOptions"
                  taggable pushTags
                  v-validate:type="'required'"
                  name="type"
                  v-bind:class="[errors.has('type') ? 'is-invalid' : '']"
                />
                <div v-show="errors.has('type')" class="invalid-feedback">
                  {{ errors.first('type') }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="address_1" class="col-md-2 form-control-label">
                Address 1
              </label>
              <div class="col-md-10">
                <input
                  type="text"
                  name="address_1"
                  id="address_1"
                  v-model="address_1"
                  placeholder="Address 1"
                  class="form-control"
                ></div>
            </div>
            <div class="form-group row">
              <label for="address_2" class="col-md-2 form-control-label">
                Address 2
              </label>
              <div class="col-md-10">
                <input
                  type="text"
                  name="address_2"
                  id="address_2"
                  v-model="address_2"
                  placeholder="Address 2"
                  class="form-control"
                ></div>
            </div>
            <div class="form-group row">
              <label for="city" class="col-md-2 form-control-label">City</label>
              <div class="col-md-10">
                <input
                  type="text"
                  name="city"
                  id="city"
                  v-model="city"
                  placeholder="City"
                  class="form-control"
                >
              </div>
            </div>
            <div class="form-group row">
              <label for="state" class="col-md-2 form-control-label">State</label>
              <div class="col-md-10">
                <v-select
                  id="state"
                  v-model="state"
                  placeholder="State"
                  :options="stateOptions"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="zip" class="col-md-2 form-control-label">Zip</label>
              <div class="col-md-10">
                <cleave
                  id="zip"
                  v-model="zip"
                  :options="{
                    numericOnly: true,
                    blocks: [5,4],
                  }"
                  placeholder="Zip"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="phone" class="col-md-2 form-control-label">Phone</label>
              <div class="col-md-10">
                <cleave
                  id="phone"
                  class="form-control"
                  v-model="phone"
                  placeholder="Phone"
                  :options="{
                    numericOnly: true,
                    blocks: [0, 3, 0, 3, 4],
                    delimiters: ['(', ')', ' ', '-'],
                  }"
                  />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col"><a href="/admin/organizations" class="btn btn-danger btn-sm">Cancel</a>
          </div>
          <div class="col text-right">
            <button type="submit" class="btn btn-success btn-sm pull-right" :disabled="errors.any()">{{ id ? 'Update' : 'Save'}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
  import _ from 'lodash';
  import axios from 'axios';
  import stateOptions from '../../../utils/states.json';

  export default {
    props: {
      organizationFormData: {
        type: Object,
        default: function () {
          return {
            name: '',
            type_id: '',
            address_1: '',
            address_2: '',
            city: '',
            state: '',
            zip: '',
            phone: '',
            id: null,
          };
        }
      },
      organizationTypes: {
        type: Array,
        default: [],
      }
    },
    data: function () {
      return {
        ...this.organizationFormData,
        stateOptions,
        typeOptions: this.organizationTypes,
        type: this.organizationTypes.find((type) => type.value === this.organizationFormData.type_id),
        state: stateOptions.find((state) => state.value === this.organizationFormData.state),
      };
    },
    methods: {
      handleSubmit(e) {
        const data = {
          name: this.name,
          type_id: _.get(this.type, 'value', null),
          address_1: this.address_1,
          address_2: this.address_2,
          city: this.city,
          state: _.get(this.state, 'value', ''),
          zip: this.zip.trim(),
          phone: this.phone,
          _method: this.id ? 'PATCH' : 'POST',
          type: this.type,
        };

        const url = this.id ? `/admin/organizations/${this.id}` : `/admin/organizations`;

        e.preventDefault();
        this.$validator.validateAll().then((result) => {
          if (result) {
            axios.post(
              url,
              data
            ).then((r) => {
              window.location.href = '/admin/organizations';
            }).catch((error) => {
              alert('There was an error submitting the form');
            });
            return;
          }
        });
      },
      onSearch(search, loading) {
        loading(true);
        this.search(loading, search, this);
      },
      search: _.debounce((loading, search, vm) => {
        axios(
          `/admin/organizations/type?q=${escape(search)}`
        ).then(res => {
          const { data: types} = res.data;
          vm.typeOptions = types;
          loading(false);
        });
      }, 350),
    }
  }
</script>
<style>

</style>