<template>
  <form @submit.prevent="handleSubmit" class="form-horizontal">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="card-title mb-0">
              Survey Management
              <small class="text-muted">{{ id ? 'Edit' : 'Create' }} Survey</small>
            </h4>
          </div>
        </div>
        <hr>
        <div class="row mt-4 mb-4">
          <div class="col">
            <div class="form-group row">
              <label for="name" class="col-md-2 form-control-label">Name</label>
              <div class="col-md-10">
                <input
                  type="text"
                  name="name"
                  id="name"
                  v-model="name"
                  placeholder="Name"
                  autofocus="autofocus"
                  v-bind:class="[errors.has('name') ? 'is-invalid' : '', 'form-control']"
                  v-validate="'required'"
                />
                <div v-show="errors.has('name')" class="invalid-feedback">
                  {{ errors.first('name') }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-md-2 form-control-label">
                Description
              </label>
              <div class="col-md-10">
                <textarea
                  name="description"
                  id="description"
                  v-model="description"
                  placeholder="Description"
                  v-bind:class="[errors.has('description') ? 'is-invalid' : '', 'form-control']"
                  v-validate="'required'"
                ></textarea>
                <div v-show="errors.has('description')" class="invalid-feedback">
                  {{ errors.first('description') }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <questions v-model="questions" question-type="survey"></questions>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col"><a href="/admin/surveys" class="btn btn-danger btn-sm">Cancel</a>
          </div>
          <div class="col text-right">
            <button type="submit" class="btn btn-success btn-sm pull-right" :disabled="errors.any()">{{ id ? 'Update' : 'Save'}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
  import axios from 'axios';
  import Questions from '../Questions';

  export default {
    components: {Questions},
    props: {
      surveyFormData: {
        type: Object,
        default: function () {
          return {
            name: '',
            description: '',
            id: null,
          };
        }
      },
    },
    data: function () {
      let { questions = [] } = this.surveyFormData;
      //questions = Object.values(questions);

      return {
        ...this.surveyFormData,
        questions: questions ? questions.map((question_data, i) => {
          question_data.question_options = _.isArray(question_data.question_options)
            ? {} : question_data.question_options;
          return {
            active: i == 0,
            question_data
          };
        }) : [],
      };
    },
    methods: {
      handleSubmit(e) {
        const data = {
          name: this.name,
          description: this.description,
          questions: this.questions,
          _method: this.id ? 'PATCH' : 'POST',
        };

        const url = this.id ? `/admin/surveys/${this.id}` : `/admin/surveys`;

        e.preventDefault();
        this.$validator.validateAll().then((result) => {
          if (result) {
            axios.post(
              url,
              data
            ).then((r) => {
              window.location.href = '/admin/surveys';
            }).catch((error) => {
              alert('There was an error submitting the form');
            });
            return;
          }
        });
      },
    }
  }
</script>
<style>

</style>